* {
  box-sizing: border-box;
}  
body.lockscreen {
  background-color: black;
}

.buttons {
  width: 25%;
  margin: auto;
  background-color: grey;
}


.lock {
  width: 100%;
  height: 20%;
}

.lock button {
  background-color: red;
  border: 2px, solid, black;
}

.lock button:hover {
  background-color: hsl(0, 100, 50)
}

body {
  background-color: black;
}  

.header {
  position: fixed;
  width: 100%;
  background-color: lightblue;
} 

a {
  text-transform: normal;
  font-family: "Roboto Mono", arial, sans-serif;
  color: white;
  background-color: white;
}

.header li {
  font-family: "Lucida Console", arial, sans-serif;
  color: white;
}

.header li:hover {
  color: lightgray;
}

a:hover {
  background-color: black;
}

h1 { 
  color: blue;
} 

h2 {
  color: white;
}
