* {
  box-sizing: border-box;
}  
body.lockscreen {
  background-color: black;
}

.buttons {
  width: 50%;
  margin: auto;
  background-color: grey;
}

.lock {
  width: 100%;
  height: 20%;
}

.lock button {
  background-color: red;
  border: 2px, solid, black;
}
